body {
    background-color: black;
    text-align: center;
}

.title {
    margin-top: 80px;
    margin-bottom: 20ppx;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
    padding: 10px;
}

.hands {
    display: flex;
    margin: 16px auto;
    padding: 0px 64px;
}

.myhand {
    margin: auto;
}

.myhandpicture {
    width: 300px;
    height: 300px;
}

.vstext {
    align-items: center;
    margin: auto;
}

.enemyhand {
   margin: auto; 
}

.enemyhandpicture {
    width: 300px;
    height: 300px;
}

.resulttext {
    color: aliceblue;
    margin: 40px 0px;
}

.handchoice {
    padding: 0px 240px;
}
.handchoice img {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    transition: background-color 0.3s;
}

.pickgu {
    padding: 16px;
    margin: 0px 16px;
}
.pickgu:hover {
    background-color: rgba(237, 202, 196, 0.2);
}

.pickchoki {
    padding: 16px;
    margin: 0px 16px;
}
.pickchoki:hover {
    background-color: rgba(237, 202, 196, 0.2);
}

.pickpa {
    padding: 16px;
    margin: 0px 16px;
}
.pickpa:hover {
    background-color: rgba(237, 202, 196, 0.2);
}

.confirm {
    margin-top: 40px;
}

.confirmbutton {
    color: aliceblue;
    font-size: 24px;
    border-style: solid;
    display: inline;
    padding: 8px 16px;
}

.numberOfWins {
    color: aliceblue;
}

.numberOfWinsLog {
    color: aliceblue;
}