body {
    background-color: black;
    text-align: center;
    align-items: center;
}

.title {
    margin-top: 80px;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6;
    padding: 10px;
}

.hands {
    display: flex;
    margin: 16px auto;
    padding: 0px 64px;
}

.myhand {
    margin: auto;
}

.myhandpicture {
    width: 300px;
    height: 300px;
}

.vstext {
    align-items: center;
}

.enemyhand {
   margin: auto; 
}

.items {
    width: 300px;
    height: 300px;
}

.handchoice {
    display: flex;
    padding: 0px 240px;
}

.pickgu {
    width: 80px;
    height: 80px;
}

.pickchoki {
    width: 80px;
    height: 80px;
}

.pickpa {
    width: 80px;
    height: 80px;
}